body {
  /* background-color: rgba(91, 109, 87, 1); */
  color: #0f0f0f;
  overflow-x: hidden;
  width: 100%;
}
.wrap {
  width: 100%;
  height: 100vh;
  position: relative;
}
.wrap-circle {
  width: 440px;
  height: 440px;
  position: absolute;
  left: 50%;
  top: -160px;
  margin-left: -220px;
  /* border-radius: 50%; */
  background: #ffffff;
  background: radial-gradient(
    #ffffff,
    rgba(255, 255, 255, 0.8),
    rgba(237, 224, 184, 0.5),
    rgba(237, 224, 184, 0.1)
  );

  opacity: 0.9;
}
header {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 30px 50px;
  gap: 90px;
  position: fixed;
  z-index: 10;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  overflow: hidden;
}
.logo {
  width: 120px;
}
header a {
  font-family: "Libre Baskerville", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

header a:hover svg {
  fill: #bb6100;
}
nav ul {
  display: flex;
  gap: 70px;
}
nav ul a {
  font-family: "Gowun Batang", serif;
  /* font-family: "Playfair Display", serif; */
  font-family: "Lora", serif;
  /* font-family: "Libre Baskerville", serif; */
  font-optical-sizing: auto;
  font-family: "Cinzel", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  transition: 0.25;
}
nav ul a:hover,
nav ul a.active {
  color: #bb6100;
}

@media (max-width: 700px) {
  header {
    padding: 20px 30px;
    gap: 40px;
    min-width: 0;
    overflow: hidden;
  }
  .logo {
    width: 90px;
  }
  header nav {
    flex: 1;
    min-width: 0;
  }
  nav ul {
    width: 100%;

    justify-content: space-between;
    padding-right: 20px;
  }
  nav ul a {
    font-size: 18px;
    transition: 0.25;
  }
}
@media (max-width: 500px) {
  nav ul {
    gap: 40px;
  }
}

.section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}
.section-1 {
  background: #5b6d57;
  background: linear-gradient(
    0deg,
    rgba(91, 109, 87, 1) 0%,
    rgba(180, 178, 139, 1) 32%,
    rgba(218, 208, 160, 1) 45%,
    rgba(235, 221, 176, 1) 62%,
    rgba(240, 232, 201, 1) 100%
  );
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.container {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

.canvas-stitch {
  display: none;
}
.tea-bg {
  position: fixed;
  width: 100vw;
  min-width: 1024px;
  height: 100vh;
  top: 0;
  left: 50%;
  margin-left: -50%;
  opacity: 0.8;
}
@media (max-width: 1024px) {
  .tea-bg {
    margin-left: -512px;
  }
}
@media (max-width: 700px) {
  .tea-bg {
    min-width: 700px;
    margin-left: -350px;
  }
}

.main-text {
  font-family: "Gowun Batang", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 1.8em;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  text-align: center;
  color: #ffffff;
  padding-top: 100px;
}
@media (max-width: 700px) {
  .main-text {
    font-size: 20px;
  }
}

.img-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding-top: 80px;
  padding-bottom: 120px;
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.section-2 {
  height: auto;
  /* background: #2d4d44;
      background: #5b6d57;
      background: linear-gradient(
        179deg,
        rgba(91, 109, 87, 1) 0%,
        rgba(45, 77, 68, 1) 100%
      ); */
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 180px 0;
  position: relative;
  z-index: 3;
}
@media (max-width: 768px) {
  .section-2 {
    padding: 50px 0px;
  }
}
.section-2-text {
  width: 100%;
  max-width: 1024px;
  padding: 0 20px;
  font-family: "Gowun Batang", serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.8em;
  color: #000000;
  margin-bottom: 170px;
  box-sizing: border-box;
}
.section-2-text2 {
  max-width: 1024px;
  width: 100%;
  padding: 0 20px;
  font-family: "Gowun Batang", serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.8em;
  color: #000000;
  margin-bottom: 60px;
}
.store-box {
  width: 100%;
  max-width: 800px;
  position: relative;
}

.tea-list {
  display: flex;
  width: 960px;
  position: relative;
  justify-content: space-around;
  align-items: center;
  padding: 120px 60px;
  padding-bottom: 200px;
  background: #2d4d44;
  background: #5b6d57;
  background: linear-gradient(
    179deg,
    rgba(91, 109, 87, 0.6) 0%,
    rgba(45, 77, 68, 0.8) 100%
  );
}
.link-btn {
  position: absolute;
  bottom: 60px;
  padding: 22px 60px;
  border-radius: 30px;
  background: #d48c0a;
  font-family: "Gowun Batang", serif;
  color: #f7efef;
  font-size: 18px;
}

.tea-list img {
  width: 190px;
  transition: 0.2s;
  margin-bottom: 20px;
}
.tea-list img:hover {
  transform: scale(1.1);
}
.tea-item {
  width: 190px;
  color: #ffffff;
  text-align: center;
}
.tea-item span {
  display: inline-block;
  margin: 10px;
  font-family: "Gowun Batang", serif;
}
@media (max-width: 700px) {
  .img-box {
    gap: 5%;
  }
  .img-box img {
    width: 25%;
  }
  .img-box img:first-of-type {
    width: 28%;
  }
  .img-box img:last-of-type {
    width: 26.5%;
  }
  .section-2-text {
    font-size: 17px;
    padding-left: 20px;
  }
  .section-2-text2 {
    font-size: 24px;
    padding-left: 20px;
  }
}
.section-3 {
  background: #2d4d44;
  position: relative;
  z-index: 4;
  padding: 180px 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-flex-box {
  width: 100%;
  max-width: 1400px;
  display: flex;
  margin-bottom: 150px;
  justify-content: space-between;
  align-items: flex-end;
}
.app-box {
  flex: 1;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  position: relative;
}
@media (max-width: 1024px) {
  .app-flex-box {
    display: block;
  }
  .app-box {
    width: 49%;
    display: inline-block;
    text-align: center;
    margin-bottom: 120px;
  }
  .app-box p {
    margin-bottom: 30px;
  }
  .app-box img {
    max-width: 100%;
  }
}
@media (max-width: 1024px) {
  .app-box {
    width: 99%;
  }
}
.app-down-button {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  width: 240px;
  height: 89px;
}
.app-down-button img {
  width: 100%;
  height: 100%;
}
@media (max-width: 600px) {
  .app-down-button {
    max-width: 40%;
  }
}
/* .app-box-2 {
  top: -50px;
}
.app-box-1 {
  top: 50px;
} */
.app-box p {
  font-family: "Gowun Batang", serif;

  font-size: 20px;
  line-height: 1.8em;
  color: #ffffff;
}
.app-box img {
}
/* .section-3 {
  width: 300px;
} */
.section-2-2 {
  width: 100%;
  padding-top: 600px;
  padding-bottom: 200px;
  margin: 100px;
  position: relative;
}
.section-3-text {
  width: 100%;
  max-width: 1024px;
  font-family: "Gowun Batang", serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1.8em;
  color: #bb6100;
  margin-bottom: 160px;
}
.list2 {
  width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.list-i-2 {
  width: 400px;
  display: flex;
  align-items: flex-end;
  padding: 50px 0;
  position: relative;
}
.list-i-2:nth-of-type(2n-1) {
  top: 130px;
}
.list-i-2 .num {
  font-size: 72px;
  font-family: "Noto Serif", serif;
  opacity: 0.08;

  margin: 0 20px;
}
.list-i-2 p {
  line-height: 1.5em;
  font-size: 20px;
  font-family: "Gowun Batang", serif;
}

@media (max-width: 1024px) {
  .list2 {
    flex-direction: column;
  }
  .list-i-2 {
    width: auto;
    top: 0 !important;
  }
}
.btn-box {
  text-align: center;
  position: absolute;
  right: -30px;
  bottom: 80px;
}
.btn-box a {
  font-size: 18px;
  font-weight: 400;
  color: #bb6100;
}
@media (max-width: 700px) {
  .btn-box {
    position: relative;
    margin-top: 100px;
    right: 0;
    bottom: 0;
  }
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  background: #090909;
  position: relative;
  z-index: 3;
  white-space: nowrap;
}
.footer-contents {
  color: rgba(255, 255, 255, 0.55);
  line-height: 1.8em;
  font-size: 15px;
}
.footer-links {
  font-family: "Atkinson Hyperlegible Mono", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 40px;
  display: flex;
  gap: 25px;
}
.list-i {
  width: 100%;
  display: inline-block;
  padding: 10px 0;
  font-family: "Gowun Batang", serif;
}
.list-i h2 {
  font-size: 20px;
  line-height: 1.5em;
  font-weight: bold;
  color: #222222;
  display: inline-block;
}
.list-i span {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  padding-left: 10px;
  display: inline-block;
}
.sub-wrap {
  width: 100%;
  min-height: 100vh;

  position: relative;
}
.sub-section {
  width: 1024px;
  margin: 0 auto;
  padding-top: 220px;
  padding-bottom: 150px;
}
.sub-section h2 {
  font-family: "Gowun Batang", serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.8em;
  color: #000000;
  margin-bottom: 60px;
}
.sub-section p {
  font-family: "Gowun Batang", serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.8em;
  color: #000000;
  margin-bottom: 40px;
}
.app-button-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
