@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2")
    format("woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2")
    format("woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2")
    format("woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2")
    format("woff2");
  font-weight: 900;
  font-display: swap;
}

body {
  /* background-color: rgba(91, 109, 87, 1); */
  color: #0f0f0f;
  overflow-x: hidden;
  width: 100%;
  font-family: "Pretendard";
  position: relative;
}
a,
button {
  font-family: "Pretendard";
  cursor: pointer;
}
.wrap {
  width: 100%;
  height: 100vh;
  position: relative;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  z-index: 10;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  overflow: hidden;
}
.logo {
  width: 260px;
  position: absolute;
  left: 50%;
  margin-left: -130px;
  top: 22px;
}
header ul a {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
}

header a:hover svg {
  fill: #bb6100;
}
nav ul {
  display: flex;
  gap: 24px;
}
nav ul a {
  font-weight: 300;
  font-size: 20px;
  transition: 0.25;
  color: #2c2525;
}
nav ul a:hover,
nav ul a.active {
  color: #bb6100;
}
.btn-header {
  padding: 14px 24px;
  background: #f1ddcb;
  font-size: 16px;
  color: #2c2525;
  display: inline-block;
}
@media (max-width: 768px) {
  header {
    padding: 20px 20px;
  }
  /* .logo {
    width: 80px;
  } */
  /* header nav {
    flex: 1;
    min-width: 0;
  }
  nav ul {
    width: 100%;

    justify-content: space-between;
    padding-right: 20px;
  }
  */
  .logo {
    position: relative;
    left: 0;
    margin-left: 0;
    top: 0;
    width: 200px;
  }
  nav ul a {
    font-size: 18px;
    transition: 0.25;
  }
  nav ul {
    width: 100%;
    justify-content: space-between;
  }
  .btn-header {
    display: none;
  }
}
@media (max-width: 500px) {
  nav ul {
    gap: 15px;
  }
  .logo {
    width: 170px;
  }
}

.section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
}
.section-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}
.container {
  width: 100%;
  max-width: 1660px;
  padding: 0 120px;
  position: relative;
  margin: 0 auto;
}

.tea-bg {
  position: fixed;
  width: 100vw;
  min-width: 1024px;
  height: 100vh;
  top: 0;
  left: 50%;
  margin-left: -50%;
  opacity: 0.9;
}
.main-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
}
.main-bg .swiper,
.swiper-wrapper,
.swiper-slide {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper-slide img {
  max-width: 100%;
}

@media (max-width: 1600px) {
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .swiper-slide img {
    max-width: 120%;
    height: 100%;
    width: unset;
  }
}
@media (max-width: 768px) {
  .slide2 {
    justify-content: flex-start;
  }
}

.main-text {
  position: relative;
  z-index: 1;
  color: #ffffff;
  padding-top: 15% !important;
}
.main-text h1 {
  font-weight: 600;
  font-style: normal;
  font-size: 66px;
  line-height: 1.2em;
  margin-bottom: 30px;
}
.main-text p {
  font-size: 20px;
  margin-bottom: 90px;
  line-height: 1.35em;
}
.btn-main-link {
  background: #2c2525;
  color: #ffffff;
  font-size: 24px;
  padding: 18px 40px;
  display: inline-block;
}
@media (max-width: 1024px) {
  .tea-bg {
    margin-left: -512px;
  }
}
@media (max-width: 700px) {
  .tea-bg {
    min-width: 700px;
    margin-left: -350px;
  }
}

.section-2 {
  height: auto;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 180px 0;
  position: relative;
  z-index: 3;
}
.sec2-bg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sec2-text {
  color: #ffffff;
  margin-bottom: 100px;
}
.sec2-text h2 {
  font-size: 52px;
  font-weight: 500;
  margin-bottom: 20px;
}
.sec2-text p {
  font-size: 18px;
  line-height: 1.4em;
  font-weight: 300;
}
.tea-item-list {
  display: flex;
}
.tea-item {
  flex: 1;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  padding: 40px 35px;
  text-align: left;
  color: #f1ddcb;
}
.tea-item:last-of-type {
  border-right: 0;
}
.tea-item img {
  display: block;
  margin-bottom: 60px;
}
.tea-item b {
  display: block;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 25px;
}
.tea-item p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4em;
  word-break: keep-all;
}
/* @media (max-width: 768px) {
  .section-2 {
    padding: 50px 0px;
  }
} */

.section-3 {
  z-index: 4;
  padding: 180px 0;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fbf8f4;
}
.sec3-text {
  color: #2c2525;
  font-size: 52px;
  font-weight: 100;
  line-height: 1.3em;
  margin-bottom: 80px;
}
.sec3-text b {
  font-weight: 500;
}
.store-item-list {
  display: flex;
  margin-left: -60px;
  margin-right: -60px;
  margin-bottom: 80px;
}
.store-item {
  flex: 1;
  border-right: 1px solid rgba(44, 37, 37, 0.8);
  padding: 40px 60px;
  text-align: left;
  color: #2c2525;
}
.store-item:last-of-type {
  border-right: 0;
}
.store-img {
  margin-bottom: 60px;
  position: relative;
  transition: 0.25;
}
.store-img img {
  max-width: 100%;
}
.store-link {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(232, 202, 176, 0.7);
  opacity: 0;
  transition: 0.2;
}
.store-img:hover .store-link {
  opacity: 1;
}
.btn-shop {
  padding: 14px 24px;
  color: #ffffff;
  font-size: 16px;
  background: #2c2525;
  display: inline-block;
}
.store-item b {
  display: block;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 25px;
}
.store-item p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4em;
  word-break: keep-all;
}
.center-container {
  text-align: center;
}

.store-inner-box {
  margin-top: 180px;
  display: flex;
  background: #ffffff;
  align-items: stretch;
}
.store-inner-box > div {
  flex: 1;
  flex-basis: 50%;
}
.store-inner-box img {
  max-width: 100%;
  width: 100%;
}
.store-inner-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  /* padding-left: 80px;
  padding-right: 0;
  padding-bob */
  padding-left: 5%;
  color: #2c2525;
}
.store-inner-list h3 {
  font-size: 52px;
  font-weight: 600;
  line-height: 1.25em;
  margin-bottom: 50px;
}
.store-inner-list li {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.3em;
  margin-bottom: 14px;
}
.store-inner-list li span {
  color: #0c7779;
  padding-right: 10px;
}

.section-4 {
  background: #eddfc9;
  z-index: 1;
  padding-top: 160px;
  height: auto;
}
.sec4-text {
  text-align: center;
  color: #2c2525;
  margin-bottom: 80px;
}
.sec4-text h2 {
  font-size: 52px;
  font-weight: 600;
  line-height: 1.25em;
  margin-bottom: 20px;
}
.sec4-text p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4em;
  word-break: keep-all;
  margin-bottom: 40px;
}

.app-button-box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.app-down-button {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: transparent;
  width: 200px;
  height: 70px;
}
.app-down-button img {
  width: 100%;
  height: 100%;
}
.app-flex-box {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.app-box {
  flex: 1;
  flex-basis: 320px;
  min-width: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  position: relative;
}
.app-box img {
  max-width: 100%;
}
.app-box p {
  width: 300px;
  max-width: 90%;
  padding: 10px;
  font-size: 20px;
  line-height: 1.5em;
  font-weight: 300;
  color: #2c2525;
  background: #ffffff;
  text-align: center;
  border-radius: 26px;
  position: relative;
  word-break: keep-all;
  display: inline-block;
}
.app-box p:after {
  content: " ";
  position: absolute;
  right: 50%;
  margin-right: -10px;
  bottom: -10px;
  border-top: 10px solid #ffffff;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: none;
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
  .app-flex-box {
    display: block;
  }
  .app-box {
    width: 320px;
    max-width: 48%;
    display: inline-block;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .app-box {
    width: 100%;
    max-width: 100%;
  }
  .app-box img {
    max-width: 80%;
  }
}
.section-5 {
  height: auto;
  padding: 170px 0;
  z-index: 1;
}

.sec5-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.sec5-text {
  text-align: center;
  position: relative;
  color: #ffffff;
}
.sec5-text h2 {
  font-size: 52px;
  font-weight: 600;
  line-height: 1.25em;
  margin-bottom: 20px;
}
.sec5-text p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4em;
  word-break: keep-all;
  margin-bottom: 60px;
}

.btn-contact-link {
  background: #ffffff;
  color: #2c2525;
  font-size: 24px;
  padding: 18px 40px;
  display: inline-block;
}

.btn-box {
  text-align: center;
  position: absolute;
  right: -30px;
  bottom: 80px;
}
.btn-box a {
  font-size: 18px;
  font-weight: 400;
  color: #bb6100;
}
@media (max-width: 700px) {
  .btn-box {
    position: relative;
    margin-top: 100px;
    right: 0;
    bottom: 0;
  }
}
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 120px;
  align-items: flex-start;
  background: #121212;
  position: relative;
  z-index: 3;
  white-space: nowrap;
  text-align: left;
}
.footer-flex {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  color: #ffffff;
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
.footer-links {
  display: flex;
  gap: 30px;
}
.footer-links a img {
  width: 28px;
}
.footer-contents {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.8em;
  font-size: 15px;
  white-space: normal;
}

.sub-wrap {
  width: 100%;
  min-height: 100vh;

  position: relative;
}
.sub-section {
  width: 1064px;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 220px;
  padding-bottom: 150px;
}
.sub-section h2 {
  font-weight: 500;
  font-size: 52px;
  line-height: 1.8em;
  color: #2c2525;
  margin-bottom: 60px;
}
.sub-section p {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.45em;
  color: #2c2525;
  margin-bottom: 40px;
  word-break: keep-all;
}

@media (max-width: 1080px) {
  .main-text h1 {
    font-size: 50px;
  }
  .sec2-text h2,
  .sec3-text,
  .store-inner-list h3,
  .sec4-text h2,
  .sec5-text h2,
  .sub-section h2 {
    font-size: 36px;
  }
}
@media (max-width: 991px) {
  .container {
    padding: 0 60px;
  }
  .tea-item b,
  .store-item b {
    font-size: 24px;
  }
  .tea-item p,
  .store-item p,
  .store-inner-list li,
  .sec5-text p,
  .sec4-text p {
    font-size: 18px;
  }
  .store-inner-box {
    flex-direction: column;
    position: relative;
  }
  .store-inner-list {
    padding: 40px;
    position: absolute;
    bottom: 0;
    background: rgba(255, 255, 255, 0.8);
  }
  .store-item {
    padding: 20px 40px;
  }
  .section-4 .container {
    padding: 0 20px;
  }
  .app-box {
    margin-top: 50px;
  }
  .app-box p {
    font-size: 17px;
    margin-bottom: 20px;
  }
  footer {
    padding: 50px 60px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
  footer {
    padding: 50px 20px;
  }
  .main-text {
    padding-top: 25% !important;
  }
  .main-text h1 {
    font-size: 36px;
  }
  .sec2-text h2,
  .sec3-text,
  .store-inner-list h3,
  .sec4-text h2,
  .sub-section h2 {
    font-size: 28px;
  }
  .main-text p {
    font-size: 18px;
  }
  .tea-item p,
  .store-item p,
  .store-inner-list li,
  .sec5-text p,
  .sec4-text p,
  .sub-section p {
    font-size: 17px;
  }
  .tea-item-list {
    flex-direction: column;
  }
  .tea-item img {
    margin-bottom: 30px;
    display: inline-block;
  }
  .tea-item {
    border-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 65px;
    text-align: center;
  }
  .store-item-list {
    flex-direction: column;
    margin: 0;
    margin-bottom: 80px;
  }
  .store-img {
    display: inline-block;
    margin: 20px auto;
  }
  .store-item {
    border-right: 0;
    margin-bottom: 40px;
  }

  .store-inner-list {
    position: relative;
    background: rgba(255, 255, 255, 1);
    padding: 40px 20px;
  }
  .btn-main-link,
  .btn-contact-link {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .main-text {
    padding-top: 40% !important;
  }
  .main-text h1 {
    font-size: 30px;
  }
  header nav ul li:last-child {
    display: none;
  }
}

.popup-container {
  width: 320px;
  height: auto;
  padding: 60px 20px 30px 20px;
  background: rgba(255, 255, 255, 1);
  position: fixed;
  left: 50%;
  top: 30%;
  margin-left: -150px;
  z-index: 99;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(101, 76, 76, 0.05);
  visibility: hidden;
}
.popup-container p {
  font-size: 17px;
  margin-bottom: 40px;
  line-height: 1.3em;
}
.btn-popup {
  background: #2c2525;
  color: #ffffff;
  font-size: 16px;
  padding: 15px 30px;
  display: inline-block;
  border: 0;
}
